.gender-select-box {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.list-left-box {
  color: rgb(255, 73, 73);
  width: 32rpx;
  font-size: 28rpx;
  padding: 35rpx 0 0 30rpx;
}

.list-right-box {
  width: 100%;
  margin-left: -32rpx;
}
